// SPDX-License-Identifier: GPL-2.0-only
/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

/ {
    /*
     * FPGA reset line (CRESET_B)
     * No hog, no pinmux, userspace controls this
     */
    fragment@0 {
        target-path = "/";
        __overlay__ {
            ice40_creset {
                gpios = <&gpio2 21 GPIO_ACTIVE_LOW>; /* P9_25 */
                line-name = "ice40_creset";
            };
        };
    };

    /*
     * Use existing hardware SPI1 exactly as wired on BeagleWire
     * Pins remain spi1_sclk / spi1_d0 / spi1_d1 / spi1_cs0
     */
    fragment@1 {
        target = <&spi1>;
        __overlay__ {
            status = "okay";

            #address-cells = <1>;
            #size-cells = <0>;

            spidev@0 {
                compatible = "rohm,dh2228fv";
                reg = <0>;                    /* CS0 = P9_28 */
                spi-max-frequency = <1000000>;
            };
        };
    };
};
